@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  font-size: 20px;
}

.pagination {
    font-size: 16px;
}

.pagination-item {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 10px;
}